
@use 'custom';

// IMPORT THE COMPONENTS

@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';


// IMPORT THE SECTIONS

@use 'sections/navbar';
@use 'sections/campanies'; 
@use 'sections/intro-section';
@use 'sections/services';
@use 'sections/testimonials';
@use 'sections/card';
@use 'sections/footer';

